*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores escuras */
:root {
    --cor-fundo: #23272e;
    --cor-primaria: #2d3436;
    --cor-secundaria: #636e72;
    --cor-destaque: goldenrod;
    --cor-texto: #f5f6fa;
    --cor-borda: #353b48;
    --cor-header:linear-gradient(50deg, black, white);
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

header{
    background: var(--cor-header);
    border: 1px solid black;
    position: fixed;
    height: 20vh;
    width: 100%;
    z-index: 2;
    margin: 0px;

}

.barra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.lista li{
    list-style: none;
}

.lista li a{
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}

.lista li a:hover{
    border: 1px solid var(--cor-destaque);
    background: var(--cor-destaque);
    color: black;
    border-radius: 7px;
    font-size: 20px;
    box-shadow: 0 4px 16px rgba(253, 203, 110, 0.3);
    transform: scale(1.08);
    transition: 
        background 0.3s,
        color 0.3s,
        border 0.3s,
        box-shadow 0.3s,
        transform 0.3s,
        font-size 0.3s;
}

.lista1 li{
    list-style: none;
}

.lista1 li a{
    text-decoration: none;
    color: black;
    transition: 1s;
}

.lista1 li a:hover{
    border: 1px solid var(--cor-destaque);
    background: var(--cor-destaque);
    color: var(--cor-primaria);
    border-radius: 7px;
    font-size: 20px;
    box-shadow: 0 4px 16px rgba(253, 203, 110, 0.3);
    transform: scale(1.08);
    transition: 
        background 0.3s,
        color 0.3s,
        border 0.3s,
        box-shadow 0.3s,
        transform 0.3s,
        font-size 0.3s;
}

main{
    padding-top: 20vh;
    height: auto;
    width: 100%;
    background: var(--cor-texto);
    display: flex;
    flex-wrap: wrap;
}

.mae{
    height: auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.mae_center{
    height: auto;
    width: 10%;
    display: flex;
}

.title{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.text{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stilizar_text{
    width: 200px;
    height: 4px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: aqua;
    transition: 3s;
    position: relative;
    animation: mover 5s ease-in-out infinite;
}


@keyframes mover {
    0% {
        width: 240px;
    }
    50%{
        width: 20px;
    }
    100% {
        width: 240px;
    }
}

.image{
    width: 100%;
    height: 40%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid black;
    object-fit: cover;
    object-position: contain;
    overflow: hidden;
}

.content{
    width: 90%;
    height: 500px;
    box-shadow: 10px 20px 20px black;
    border-radius: 6px;
    color: black;
    border: 1px solid black;
    transition: 3s;

}

.content:hover{
    cursor: pointer;
    border: 1px solid var(--cor-destaque);
    background: whitesmoke;

}

img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

img:hover{
    transform: scale(1.2);
}

.decore{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.decore_center{
    height: 100%;
    width: 25%;
    border-radius: 5px;
    background: aquamarine;
    border: 1px solid black;
    animation: cor 5s infinite ease-in-out;
}

@keyframes cor {
    0%{
        background-color: rgb(17, 217, 243);
    }
    50%{
        background-color: aquamarine;
    }
    100%{
        background-color: rgb(34, 228, 253);
    }
}

.stilizar{
    height: 25%;
    width: 13px;
    border-radius: 10px;
    border: 1px solid black;
    background: aqua;
}

.second_stilizar{
    height: 18%;
    width: 9px;
    border-radius: 10px;
    border: 1px solid black;
    background: aqua;
}

@media (max-width:670px){

header{
    height: 15vh;
}

.barra{
    justify-content: space-between;
}


.lista1{
    display: none;
}

.lionel{
    font-size: 20px;
}

.mae{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.mae_center{
    display: none;
}


@keyframes mover {
    0% {
        width: 230px;
    }
    50%{
        width: 20px;
    }
    100% {
        width: 230px;
    }
}


.content{
    width: 100%;
    height: 600px;

}

.decore{
    display: none;
}

.decore_center{
    display: none;
}

.stilizar{
    height: 25%;
    width: 13px;
    border-radius: 10px;
    border: 1px solid black;
    background: aqua;
}

.second_stilizar{
    height: 18%;
    width: 9px;
    border-radius: 10px;
    border: 1px solid black;
    background: aqua;
}

#center{
    display: flex;
    flex-direction: column;
}

}

@media (min-width:670px) and (max-width:920px){

.lionel{
    font-size: 25px;
}

.mae{
    padding: 5px;
}

.content{
    height: 700px;
}

.decore{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.stilizar{
    width: 5px;
    border: none;
    background: transparent;
}

.second_stilizar{
    height: 10%;
    width: 9px;
    border-radius: 10px;
    border: 1px solid black;
    background: aqua;
}

}
@media (min-width:920px) and (max-width:1024px){

    .content{
    height: 600px;
        }

}